# Packer Vagrant Cache
output-virtualbox-iso/*
output-hyperv-iso/*
output-qemu/*
packer_cache/*
.vagrant/*
*.box
*.pyc
Vagrantfile

# Ansible files
hosts-*
*.retry

# Galaxy files
roles/jborean93.*
collections/*

# Temp Packer files
2012
2012r2/
2016/
2019/
2022/

# MacOS files
.DS_Store

# Various IDEs
.idea/
