# Packer Vagrant Cache
output-virtualbox-iso/*
output-hyperv-iso/*
packer_cache/*
.vagrant/*
*.box
*.pyc
Vagrantfile

# Ansible files
hosts-*
*.retry

# Galaxy files
roles/jborean93.*

# Temp Packer files
2008-x86/
2008-x64/
2008r2/
2012
2012r2/
2016/
2019/
1709/
1803/
10-x86/
10-x64/

# MacOS files
.DS_Store

# Various IDEs
.idea/
