$ErrorActionPreference = 'Stop'

$runonce_reg_key = "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\RunOnce"
$ps_path = "$env:SystemDrive\Windows\System32\WindowsPowerShell\v1.0\powershell.exe"
$tmp_dir = "$env:SystemDrive\temp"

Function Write-Log($message, $level="INFO") {
    $date_stamp = Get-Date -Format s
    $log_entry = "$date_stamp - $level - $message"
    $log_file = "$tmp_dir\sysprep-setup.log"
    Write-Host $log_entry
    Add-Content -Path $log_file -Value $log_entry
}

$action = $args[0]
switch($action) {
    "post-sysprep" {
        Write-Log -message "Deleting packer shutdown scheduled task"
        &schtasks.exe /Delete /TN "packer-shutdown" /F

        Write-Log -message "Removing the sysprep files as they are no longer needed"
        Remove-Item -Path C:\Windows\Panther\Unattend -Force -Recurse > $null

        Write-Log -message "Disabling the Administrator account as it is not needed"
        &cmd.exe /c net user Administrator /active:no

        Write-Log -message "Disabling the password expiration of the {{ansible_user}} account"
        &cmd.exe @("/c", "WMIC", "USERACCOUNT", "WHERE", "Name='{{ansible_user}}'", "SET", "PasswordExpires=FALSE")

        Write-Log -message "Setting sshd services to auto start"
        Set-Service -Name sshd -StartupType Automatic
        Set-Service -Name ssh-agent -StartupType Automatic

        Write-Log -message "Rearming the host using slmgr.vbs /rearm"
        &C:\Windows\System32\cscript.exe C:\Windows\System32\slmgr.vbs /rearm

        Write-Log -message "Restarting the host to rerun script with action winrm-active"
        $command = "$ps_path $($script:MyInvocation.MyCommand.Path) winrm-active"
        Set-ItemProperty -Path $runonce_reg_key -Name "bootstrap" -Value $command
        Restart-Computer -Force
    }
    "winrm-active" {
        Write-Log -message "Deleting auto logon entries from registry"
        $reg_winlogon_path = "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon"
        Set-ItemProperty -Path $reg_winlogon_path -Name AutoAdminLogon -Value 0
        Remove-ItemProperty -Path $reg_winlogon_path -Name DefaultUserName -ErrorAction SilentlyContinue
        Remove-ItemProperty -Path $reg_winlogon_path -Name DefaultPassword -ErrorAction SilentlyContinue

        Write-Log -message "Setting the rearm key back to 0 so people in the future can rearm the OS"
        Set-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\SoftwareProtectionPlatform" -Name SkipRearm -Value 0

        Write-Log -message "Recreate the WinRM listeners"
        Reset-WinRMConfig -Verbose

        Write-Log -message "Cleaning up C:\temp and logging off"
        Remove-Item -Path C:\temp -Force -Recurse
        New-Item -Path C:\temp -ItemType Directory

        &cmd.exe /c logoff
    }
}
