## Packer Windoze Image Changelog

_Note: This changelog is generated as part of the packer-setup role. Please add
changelog entries to `roles/packer-setup/vars/main.yml` to modify this file_

This is the changelog of each image version uploaded to the Vagrant Cloud. It
contains a list of changes that each incorporate.

{% for version_entry in pri_packer_setup_changelog %}
### v{{version_entry.version}} - {{version_entry.date|default("TBD")}}

{% for change in version_entry.changes %}
* {{change}}
{% endfor %}
{% if version_entry.host_specific_changes is defined %}
{% for host_type in version_entry.host_specific_changes.keys() %}
* {{host_type}}
{% for change in version_entry.host_specific_changes[host_type] %}
    * {{change}}
{% endfor %}
{% endfor %}
{% endif %}

{% endfor %}
