## [Packer Windoze](https://github.com/jborean93/packer-windoze) - {{pri_packer_setup_config.box_tag}}

### Info

This is an image based on the evaluation ISO supplied by Microsoft. It has all
the updates available for the host at the time applied and comes ready to be
run by Vagrant. When Vagrant starts the box, sysprep will automatically run
and create a brand new Windows instance with WinRM up and running.

Details on how to connect are;

* `username`: {{opt_packer_setup_username}}
* `password`: {{opt_packer_setup_password}}
* `connector`: winrm

Included programs (versions dependent on the Windows version);

* PowerShell v3.0 or higher
* .NET Framework 4.5 or higher
* VirtualBox Guest Additions
* [Chocolatey](https://chocolatey.org/)
* [Sysinternals Suite](https://docs.microsoft.com/en-us/sysinternals/downloads/sysinternals-suite)
* [Vim](https://vim.sourceforge.io/) for Windows

Other configurations from the standard image;

* WinRM HTTP and HTTPS listener with Basic and CredSSP enabled
{% if not pri_packer_setup_config.answer_longhorn %}
* [Win32-OpenSSH](https://github.com/PowerShell/Win32-OpenSSH) v7.6.1.0p1-Beta
{% endif %}
* Default Administrator account disabled, password is also `{{opt_packer_setup_password}}`
* Hidden files and folders and file extensions are shown by default

### Changes

{% for version_entry in pri_packer_setup_changelog %}
#### v{{version_entry.version}} - {{version_entry.date|default(lookup('pipe', 'date +%Y-%m-%d'))}}

{% for change in version_entry.changes %}
* {{change}}
{% endfor %}

{% if version_entry.host_specific_changes is defined and man_packer_setup_host_type in version_entry.host_specific_changes.keys() %}
Specific changes to this host type

{% for change in version_entry.host_specific_changes[man_packer_setup_host_type] %}
* {{change}}
{% endfor %}

{% endif %}
{% endfor %}
