[windows]
packer-host  ansible_host=127.0.0.1

[windows:vars]
ansible_user={{opt_packer_setup_username}}
ansible_password={{opt_packer_setup_password}}
ansible_port={{pri_packer_setup_ansible_port}}
ansible_connection=psrp
ansible_psrp_auth=basic
ansible_psrp_protocol=http
ansible_psrp_message_encryption=never
ansible_become_method=runas
ansible_become_user=SYSTEM

man_provider={{opt_packer_setup_builder}}
man_driver_host_string={{pri_packer_setup_config.driver_host_string}}
man_host_type="{{man_packer_setup_host_type}}"
man_host_architecture={{pri_packer_setup_config.architecture}}
man_packer_windoze_version={{opt_packer_setup_version|default(pri_packer_setup_changelog[0].version)}}
man_skip_feature_removal={{pri_packer_setup_config.skip_feature_removal|default(False)}}
man_personalize_choco_packages={{opt_packer_setup_packages|default('["pwsh", "vim", "sysinternals"]')}}
